<html>
  <head>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/apiclient.js"></script>
    <script type="text/javascript">
      userid={{user.id}}
      </script>
    </head>
    <body>
      <button id="tweetGetter">Get Tweets</button>
      <div id="tweetzone"></div>
      Enter a tweet<br>
      <input type="text" name="tweetText" id="tweetText"></input><br>
      <button type="submit" id="tweetPoster">Tweet</button><br>

      View users<br>
      <button type="submit" id="userGetter">View users</button>
      <div id="userzone"></div>

  </body>
</html>
