{% extends "resources/base.html" %}
{% block head %}
{% load staticfiles %}
<link href= {% static "css/login.css"%} rel="stylesheet">
{% endblock %}

{% block body %}
{% load twitter_extras %} 
<div class="container">
  {% if error %}
  <div id="login-error" class="span9 message"> 
    <div class="message-text">{{ error }}</div>
  </div>		
  {% endif %}	
  <div id="left-column" class="span5 column">
    <div id="twitter-welcome">
      <h2>Welcome to Twitter.</h2> 
      <h3>Find out what da go on, right now, with the people and organizations you care about.</h3>	
    </div>
  </div>
  <div id="login-forms" class="span4 column"> 
    <form class="form-signin" method="post">
      <input type="hidden" name="post_action" value="sign_in"></input>
      {% csrf_token %}
      <h2 class="form-signin-heading">Please sign in</h2>
      {% error_div sign_in_form.non_field_errors %}
      {% error_div sign_in_form.errors.username %}
      <input type="text" name="username" class="input-block-level" placeholder="Username">
      {% error_div sing_in_form.errors.password %}
      <input type="password" name="password" class="input-block-level" placeholder="Password">
      <button class="btn btn-large btn-primary" type="submit" name="post_action" value="sign_in">Sign in</button>
    </form>	
    <form class="form-signin" method="post">
      {% csrf_token %}
      <input type="hidden" name="post_action" value="sign_up"></input>
      <h2 class="form-signin-heading">New to Twitter? Sign up</h2>
      {% error_div sign_up_form.non_field_errors %}
      {% error_div sign_up_form.errors.username %}
      <input type="text" name="username" class="input-block-level" placeholder="Desired Username">
      {% error_div sign_up_form.errors.email %}
      <input type="text" name="email" class="input-block-level" placeholder="Email">
      {% error_div sign_up_form.errors.email %}
      <input type="password" name="password1" class="input-block-level" placeholder="Password">
      {% error_div sign_up_form.errors.password2 %}
      <input type="password" name="password2" class="input-block-level" placeholder="Repeat Password">
      <button class="btn btn-large btn-primary" type="submit" name="post_action" value="sign_up">Sign Up</button>
    </form>	
  </div>
</div>
{% endblock %}
