{% load formatting %}
<!DOCTYPE html>
<html>
  <head>
    <script src="/static/backbone/libs/jquery-1.9.1.js"></script>
    <script src="/static/js/mobile.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>jQuery Mobile boilerplate</title>
    <link rel="stylesheet" href="/static/backbone/css/jquery.mobile.structure-1.3.0.min.css" />
    <link rel="stylesheet" href="/static/backbone/css/firsttheme.css">
    <script src="/static/backbone/libs/jquery.mobile-1.3.0.js"></script>
  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body
</html>
